.mj-border-zero {
	border: 0;
}

.mj-pros {
	text-align: center;
	white-space: nowrap;
}

.mj-ron2 {
	text-align: center;
	white-space: nowrap;
}

.mj-margin-text {
	margin-left: 32px;
	margin-top: 24px;
}

.mj-filter {
	margin-left: 20px;
}

img.articles {
	width: 120px;
	height: 90px;
	object-fit: cover;
}

img.dictionary {
	width: 16px;
	height: 16px;
}

img.links {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

img.live {
	width: 160px;
	height: 90px;
	object-fit: cover;
}

img.pros {
	width: 48px;
	height: 48px;
	object-fit: cover;
}

img.thumbnails {
	width: 120px;
	height: 120px;
	object-fit: cover;	
}

img.twitter {
	fill: #00acee;
}

img.videos {
	width: 160px;
	height: 90px;
	object-fit: cover;
}

input {
	width: 100px
}

th {
	text-align: center;
}

.cal_wrapper {
max-width: 960px;
min-width: 300px;
margin: 2.0833% auto;
}

.googlecal {
position: relative;
padding-bottom: 100%;
height: 0;
}

.googlecal iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}

.googlechart {
	width: 100%; 
	min-height: 700px;
}

.judan-chart {
	width: 100%; 
	min-height: 1200px;
}

@media only screen and (min-width: 768px) {
.googlecal { padding-bottom: 75%; }
}
